@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');

:root{
    --font-family: font-family: 'Rubik Puddles', cursive;
    --bg-color: #ADA2FF;
    --primary-color: #FFF8E1;
}

body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: var(--font-family);
}

h1{
    font-size: 4em;
}

h2{
    font-size: 4em;
}

h3{
    font-size: 2em;
    margin-top: 20px;
}

.mensagem{
    font-size: 1.5em;
    margin-top: 40px;
}

.box{
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 12px;
    margin: 4px;
}

.btn-jogar{
    padding: 12px;
    border: 5px dashed #ADA2FF;
    border-radius: 5px;
    font-size: 0.8em;
    background: #FFF8E1;
}

.btn-jogar:hover{
    background: #ccc4aa;
    cursor: pointer;
}